{
  "openapi": "3.1.1",
  "info": {
    "title": "Payven Fraud API",
    "description": "Payven Fraud — gercek zamanli risk skorlama ve fraud kural motoru.",
    "termsOfService": "https://payven.com.tr/sozlesmeler",
    "contact": {
      "name": "Payven Developer Support",
      "url": "https://docs.payven.com.tr",
      "email": "destek@payven.com.tr"
    },
    "license": {
      "name": "Payven API License",
      "url": "https://payven.com.tr/sozlesmeler/api-lisansi"
    },
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://fraud.payven.com.tr",
      "description": "Production"
    },
    {
      "url": "https://fraud-sandbox.payven.com.tr",
      "description": "Sandbox"
    }
  ],
  "paths": {
    "/api/v1/platform/fraud/alerts": {
      "get": {
        "tags": [
          "PlatformFraudAlerts"
        ],
        "parameters": [
          {
            "name": "status",
            "in": "query",
            "schema": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/FraudAlertStatus"
                }
              ]
            }
          },
          {
            "name": "process",
            "in": "query",
            "schema": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/FraudProcess"
                }
              ]
            }
          },
          {
            "name": "assigned_to",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "from",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "to",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "page_size",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "include_inactive",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "search_term",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedListOfFraudAlertDto"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        },
        "operationId": "listPlatformFraudAlerts",
        "summary": "Platform fraud uyarılarını listele"
      }
    },
    "/api/v1/platform/fraud/alerts/{id}/approve": {
      "post": {
        "tags": [
          "PlatformFraudAlerts"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "Idempotency-Key",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/FraudAlertResolveBody"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FraudAlertDto"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ProblemDetails"
                    },
                    {
                      "$ref": "#/components/schemas/HttpValidationProblemDetails"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          }
        },
        "operationId": "approvePlatformFraudAlert",
        "summary": "Platform fraud uyarısını onayla"
      }
    },
    "/api/v1/platform/fraud/alerts/{id}/reject": {
      "post": {
        "tags": [
          "PlatformFraudAlerts"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "Idempotency-Key",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/FraudAlertResolveBody"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FraudAlertDto"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ProblemDetails"
                    },
                    {
                      "$ref": "#/components/schemas/HttpValidationProblemDetails"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          }
        },
        "operationId": "rejectPlatformFraudAlert",
        "summary": "Platform fraud uyarısını reddet"
      }
    },
    "/api/v1/fraud/alerts": {
      "get": {
        "tags": [
          "TenantFraudAlerts"
        ],
        "parameters": [
          {
            "name": "status",
            "in": "query",
            "schema": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/FraudAlertStatus"
                }
              ]
            }
          },
          {
            "name": "process",
            "in": "query",
            "schema": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/FraudProcess"
                }
              ]
            }
          },
          {
            "name": "assigned_to",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "from",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "to",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "page_size",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "include_inactive",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "search_term",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedListOfFraudAlertDto"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        },
        "operationId": "listTenantFraudAlerts",
        "summary": "Fraud uyarılarını listele"
      }
    },
    "/api/v1/fraud/alerts/{id}/approve": {
      "post": {
        "tags": [
          "TenantFraudAlerts"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "Idempotency-Key",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/FraudAlertResolveBody"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FraudAlertDto"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ProblemDetails"
                    },
                    {
                      "$ref": "#/components/schemas/HttpValidationProblemDetails"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          }
        },
        "operationId": "approveTenantFraudAlert",
        "summary": "Fraud uyarısını onayla"
      }
    },
    "/api/v1/fraud/alerts/{id}/reject": {
      "post": {
        "tags": [
          "TenantFraudAlerts"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "Idempotency-Key",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/FraudAlertResolveBody"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FraudAlertDto"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ProblemDetails"
                    },
                    {
                      "$ref": "#/components/schemas/HttpValidationProblemDetails"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          }
        },
        "operationId": "rejectTenantFraudAlert",
        "summary": "Fraud uyarısını reddet"
      }
    },
    "/api/v1/fraud/blacklist": {
      "get": {
        "tags": [
          "TenantFraudBlacklist"
        ],
        "parameters": [
          {
            "name": "entry_type",
            "in": "query",
            "schema": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/BlacklistEntryType"
                }
              ]
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "page_size",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "include_inactive",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "search_term",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedListOfBlacklistEntryDto"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        },
        "operationId": "listTenantFraudBlacklist",
        "summary": "Kara liste kayıtlarını listele"
      },
      "post": {
        "tags": [
          "TenantFraudBlacklist"
        ],
        "parameters": [
          {
            "name": "Idempotency-Key",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/AddBlacklistEntryRequest"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BlacklistEntryDto"
                }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ProblemDetails"
                    },
                    {
                      "$ref": "#/components/schemas/HttpValidationProblemDetails"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          }
        },
        "operationId": "createTenantFraudBlacklist",
        "summary": "Kara liste kaydı oluştur"
      }
    },
    "/api/v1/fraud/blacklist/{id}": {
      "delete": {
        "tags": [
          "TenantFraudBlacklist"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ProblemDetails"
                    },
                    {
                      "$ref": "#/components/schemas/HttpValidationProblemDetails"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          }
        },
        "operationId": "deleteTenantFraudBlacklist",
        "summary": "Kara liste kaydını sil"
      }
    },
    "/api/v1/fraud/dashboard/stats": {
      "get": {
        "tags": [
          "TenantFraudDashboard"
        ],
        "parameters": [
          {
            "name": "period",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "process",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FraudDashboardStatsDto"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ProblemDetails"
                    },
                    {
                      "$ref": "#/components/schemas/HttpValidationProblemDetails"
                    }
                  ]
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        },
        "operationId": "getTenantFraudDashboardStats",
        "summary": "Tenantfrauddashboard istatistiklerini getir"
      }
    },
    "/api/v1/fraud/logs": {
      "get": {
        "tags": [
          "TenantFraudLogs"
        ],
        "parameters": [
          {
            "name": "process",
            "in": "query",
            "schema": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/FraudProcess"
                }
              ]
            }
          },
          {
            "name": "decision",
            "in": "query",
            "schema": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/FraudAction"
                }
              ]
            }
          },
          {
            "name": "from",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "to",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "min_score",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "max_score",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "page_size",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "include_inactive",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "search_term",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedListOfFraudCheckLogDto"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ProblemDetails"
                    },
                    {
                      "$ref": "#/components/schemas/HttpValidationProblemDetails"
                    }
                  ]
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        },
        "operationId": "listTenantFraudLogs",
        "summary": "Fraud log kayıtlarını listele"
      }
    },
    "/api/v1/fraud/merchants/{merchant_id}/policy": {
      "get": {
        "tags": [
          "TenantFraudMerchantPolicies"
        ],
        "parameters": [
          {
            "name": "merchant_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MerchantFraudPolicyBundleDto"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "operationId": "getMerchantFraudPolicy",
        "summary": "Bayi fraud politikasını getir"
      },
      "patch": {
        "tags": [
          "TenantFraudMerchantPolicies"
        ],
        "parameters": [
          {
            "name": "merchant_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/UpsertMerchantPolicyRequest"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MerchantFraudPolicyBundleDto"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          }
        },
        "operationId": "updateMerchantFraudPolicy",
        "summary": "Bayi fraud politikasını güncelle"
      }
    },
    "/api/v1/fraud/rules": {
      "get": {
        "tags": [
          "TenantFraudRules"
        ],
        "parameters": [
          {
            "name": "process",
            "in": "query",
            "schema": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/FraudProcess"
                }
              ]
            }
          },
          {
            "name": "is_active",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "page_size",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "include_inactive",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "search_term",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedListOfFraudRuleDto"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        },
        "operationId": "listTenantFraudRules",
        "summary": "Fraud kurallarını listele"
      },
      "post": {
        "tags": [
          "TenantFraudRules"
        ],
        "parameters": [
          {
            "name": "Idempotency-Key",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/CreateFraudRuleRequest"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FraudRuleDto"
                }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ProblemDetails"
                    },
                    {
                      "$ref": "#/components/schemas/HttpValidationProblemDetails"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          }
        },
        "operationId": "createTenantFraudRule",
        "summary": "Fraud kuralı oluştur"
      }
    },
    "/api/v1/fraud/rules/{id}": {
      "patch": {
        "tags": [
          "TenantFraudRules"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/UpdateFraudRuleRequest"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FraudRuleDto"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ProblemDetails"
                    },
                    {
                      "$ref": "#/components/schemas/HttpValidationProblemDetails"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          }
        },
        "operationId": "patchTenantFraudRule",
        "summary": "Fraud kuralını kısmi güncelle"
      },
      "delete": {
        "tags": [
          "TenantFraudRules"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ProblemDetails"
                    },
                    {
                      "$ref": "#/components/schemas/HttpValidationProblemDetails"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          }
        },
        "operationId": "deleteTenantFraudRule",
        "summary": "Fraud kuralını sil"
      }
    }
  },
  "components": {
    "schemas": {
      "AddBlacklistEntryRequest": {
        "type": "object",
        "properties": {
          "tenant_id": {
            "type": [
              "null",
              "string"
            ],
            "format": "uuid"
          },
          "merchant_id": {
            "type": [
              "null",
              "string"
            ],
            "format": "uuid"
          },
          "entry_type": {
            "allOf": [
              {
                "$ref": "#/components/schemas/BlacklistEntryType"
              }
            ]
          },
          "value": {
            "type": [
              "null",
              "string"
            ]
          },
          "display_value": {
            "type": [
              "null",
              "string"
            ]
          },
          "reason": {
            "type": [
              "null",
              "string"
            ]
          },
          "expires_at": {
            "type": [
              "null",
              "string"
            ],
            "format": "date-time"
          }
        },
        "additionalProperties": false
      },
      "BlacklistEntryDto": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "tenant_id": {
            "type": [
              "null",
              "string"
            ],
            "format": "uuid"
          },
          "merchant_id": {
            "type": [
              "null",
              "string"
            ],
            "format": "uuid"
          },
          "entry_type": {
            "allOf": [
              {
                "$ref": "#/components/schemas/BlacklistEntryType"
              }
            ]
          },
          "display_value": {
            "type": [
              "null",
              "string"
            ]
          },
          "reason": {
            "type": [
              "null",
              "string"
            ]
          },
          "expires_at": {
            "type": [
              "null",
              "string"
            ],
            "format": "date-time"
          },
          "is_active": {
            "type": "boolean"
          },
          "created": {
            "type": "string",
            "format": "date-time"
          }
        },
        "additionalProperties": false
      },
      "BlacklistEntryType": {
        "enum": [
          "Card",
          "Email",
          "Ip",
          "Device",
          "Iban",
          "MerchantExternalId"
        ],
        "type": "string"
      },
      "CreateFraudRuleRequest": {
        "type": "object",
        "properties": {
          "tenant_id": {
            "type": [
              "null",
              "string"
            ],
            "format": "uuid"
          },
          "merchant_id": {
            "type": [
              "null",
              "string"
            ],
            "format": "uuid"
          },
          "process": {
            "allOf": [
              {
                "$ref": "#/components/schemas/FraudProcess"
              }
            ]
          },
          "code": {
            "type": [
              "null",
              "string"
            ]
          },
          "name": {
            "type": [
              "null",
              "string"
            ]
          },
          "description": {
            "type": [
              "null",
              "string"
            ]
          },
          "type": {
            "allOf": [
              {
                "$ref": "#/components/schemas/FraudRuleType"
              }
            ]
          },
          "expression_json": {
            "type": [
              "null",
              "string"
            ]
          },
          "action": {
            "allOf": [
              {
                "$ref": "#/components/schemas/FraudAction"
              }
            ]
          },
          "priority": {
            "type": "integer",
            "format": "int32"
          },
          "is_active": {
            "type": "boolean"
          }
        },
        "additionalProperties": false
      },
      "EvaluateFraudRequest": {
        "required": [
          "amount_minor",
          "external_txn_id",
          "merchant_external_id",
          "process"
        ],
        "type": "object",
        "properties": {
          "process": {
            "allOf": [
              {
                "$ref": "#/components/schemas/FraudProcess"
              }
            ]
          },
          "external_txn_id": {
            "type": [
              "null",
              "string"
            ]
          },
          "merchant_external_id": {
            "type": [
              "null",
              "string"
            ]
          },
          "amount_minor": {
            "type": "integer",
            "format": "int64"
          },
          "currency": {
            "type": [
              "null",
              "string"
            ]
          },
          "customer": {
            "type": "null",
            "allOf": [
              {
                "$ref": "#/components/schemas/FraudCustomerSignals"
              }
            ]
          },
          "instrument": {
            "type": "null",
            "allOf": [
              {
                "$ref": "#/components/schemas/FraudInstrumentSignals"
              }
            ]
          },
          "context": {
            "type": "null",
            "allOf": [
              {
                "$ref": "#/components/schemas/FraudContextSignals"
              }
            ]
          },
          "extras": {
            "type": [
              "null",
              "object"
            ],
            "additionalProperties": {
              "type": "string"
            }
          }
        },
        "additionalProperties": false
      },
      "EvaluationResultDto": {
        "type": "object",
        "properties": {
          "decision_id": {
            "type": "string",
            "format": "uuid"
          },
          "action": {
            "allOf": [
              {
                "$ref": "#/components/schemas/FraudAction"
              }
            ]
          },
          "score": {
            "type": "integer",
            "format": "int32"
          },
          "reason_codes": {
            "type": [
              "null",
              "array"
            ],
            "items": {
              "type": "string"
            }
          },
          "matched_rule_ids": {
            "type": [
              "null",
              "array"
            ],
            "items": {
              "type": "string",
              "format": "uuid"
            }
          },
          "challenge": {
            "type": "null",
            "allOf": [
              {
                "$ref": "#/components/schemas/FraudChallenge"
              }
            ]
          },
          "review_ttl_seconds": {
            "type": [
              "null",
              "integer"
            ],
            "format": "int32"
          },
          "latency_ms": {
            "type": "integer",
            "format": "int32"
          },
          "provider_used": {
            "type": [
              "null",
              "string"
            ]
          }
        },
        "additionalProperties": false
      },
      "FinalizeDecisionRequest": {
        "required": [
          "decision_id",
          "outcome"
        ],
        "type": "object",
        "properties": {
          "decision_id": {
            "type": "string",
            "format": "uuid"
          },
          "outcome": {
            "allOf": [
              {
                "$ref": "#/components/schemas/TxnOutcome"
              }
            ]
          },
          "bank_response_code": {
            "type": [
              "null",
              "string"
            ]
          },
          "completed_at": {
            "type": [
              "null",
              "string"
            ],
            "format": "date-time"
          }
        },
        "additionalProperties": false
      },
      "FraudAction": {
        "enum": [
          "Approve",
          "Challenge",
          "Review",
          "Block"
        ],
        "type": "string"
      },
      "FraudAlertDto": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "fraud_check_log_id": {
            "type": "string",
            "format": "uuid"
          },
          "tenant_id": {
            "type": "string",
            "format": "uuid"
          },
          "merchant_id": {
            "type": [
              "null",
              "string"
            ],
            "format": "uuid"
          },
          "process": {
            "allOf": [
              {
                "$ref": "#/components/schemas/FraudProcess"
              }
            ]
          },
          "external_txn_id": {
            "type": [
              "null",
              "string"
            ]
          },
          "amount_minor": {
            "type": "integer",
            "format": "int64"
          },
          "currency": {
            "type": [
              "null",
              "string"
            ]
          },
          "score": {
            "type": "integer",
            "format": "int32"
          },
          "reason_codes": {
            "type": [
              "null",
              "string"
            ]
          },
          "status": {
            "allOf": [
              {
                "$ref": "#/components/schemas/FraudAlertStatus"
              }
            ]
          },
          "assigned_to": {
            "type": [
              "null",
              "string"
            ]
          },
          "reviewed_by": {
            "type": [
              "null",
              "string"
            ]
          },
          "reviewed_at": {
            "type": [
              "null",
              "string"
            ],
            "format": "date-time"
          },
          "notes": {
            "type": [
              "null",
              "string"
            ]
          },
          "expires_at": {
            "type": "string",
            "format": "date-time"
          },
          "created": {
            "type": "string",
            "format": "date-time"
          }
        },
        "additionalProperties": false
      },
      "FraudAlertResolveBody": {
        "type": "object",
        "properties": {
          "notes": {
            "type": [
              "null",
              "string"
            ]
          }
        },
        "additionalProperties": false
      },
      "FraudAlertStatus": {
        "enum": [
          "Open",
          "Approved",
          "Rejected",
          "Expired"
        ],
        "type": "string"
      },
      "FraudChallenge": {
        "type": "object",
        "properties": {
          "type": {
            "type": [
              "null",
              "string"
            ]
          },
          "params": {
            "type": [
              "null",
              "object"
            ],
            "additionalProperties": {
              "type": "string"
            }
          }
        },
        "additionalProperties": false
      },
      "FraudCheckLogDto": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "tenant_id": {
            "type": "string",
            "format": "uuid"
          },
          "merchant_id": {
            "type": [
              "null",
              "string"
            ],
            "format": "uuid"
          },
          "process": {
            "allOf": [
              {
                "$ref": "#/components/schemas/FraudProcess"
              }
            ]
          },
          "external_txn_id": {
            "type": [
              "null",
              "string"
            ]
          },
          "amount_minor": {
            "type": "integer",
            "format": "int64"
          },
          "currency": {
            "type": [
              "null",
              "string"
            ]
          },
          "score": {
            "type": "integer",
            "format": "int32"
          },
          "decision": {
            "allOf": [
              {
                "$ref": "#/components/schemas/FraudAction"
              }
            ]
          },
          "reason_codes": {
            "type": [
              "null",
              "string"
            ]
          },
          "matched_rule_ids": {
            "type": [
              "null",
              "string"
            ]
          },
          "latency_ms": {
            "type": "integer",
            "format": "int32"
          },
          "provider_used": {
            "type": [
              "null",
              "string"
            ]
          },
          "outcome": {
            "type": "null",
            "allOf": [
              {
                "$ref": "#/components/schemas/TxnOutcome"
              }
            ]
          },
          "checked_at": {
            "type": "string",
            "format": "date-time"
          }
        },
        "additionalProperties": false
      },
      "FraudContextSignals": {
        "type": "object",
        "properties": {
          "channel": {
            "type": [
              "null",
              "string"
            ]
          },
          "connector_code": {
            "type": [
              "null",
              "string"
            ]
          },
          "three_d_status": {
            "type": [
              "null",
              "string"
            ]
          },
          "session_id": {
            "type": [
              "null",
              "string"
            ]
          }
        },
        "additionalProperties": false
      },
      "FraudCustomerSignals": {
        "type": "object",
        "properties": {
          "identifier": {
            "type": [
              "null",
              "string"
            ]
          },
          "email": {
            "type": [
              "null",
              "string"
            ]
          },
          "ip_address": {
            "type": [
              "null",
              "string"
            ]
          },
          "user_agent": {
            "type": [
              "null",
              "string"
            ]
          },
          "device_fingerprint": {
            "type": [
              "null",
              "string"
            ]
          }
        },
        "additionalProperties": false
      },
      "FraudDashboardPeriod": {
        "enum": [
          "Today",
          "Last7Days",
          "Last30Days"
        ],
        "type": "string"
      },
      "FraudDashboardStatsDto": {
        "type": "object",
        "properties": {
          "period": {
            "allOf": [
              {
                "$ref": "#/components/schemas/FraudDashboardPeriod"
              }
            ]
          },
          "total": {
            "type": "integer",
            "format": "int32"
          },
          "approve": {
            "type": "integer",
            "format": "int32"
          },
          "challenge": {
            "type": "integer",
            "format": "int32"
          },
          "review": {
            "type": "integer",
            "format": "int32"
          },
          "block": {
            "type": "integer",
            "format": "int32"
          },
          "avg_score": {
            "type": "number",
            "format": "double"
          },
          "avg_latency": {
            "type": "integer",
            "format": "int32"
          },
          "block_rate": {
            "type": "number",
            "format": "double"
          },
          "open_alerts_count": {
            "type": "integer",
            "format": "int32"
          },
          "trend_buckets": {
            "type": [
              "null",
              "array"
            ],
            "items": {
              "$ref": "#/components/schemas/FraudTrendBucketDto"
            }
          },
          "decision_distribution": {
            "type": [
              "null",
              "array"
            ],
            "items": {
              "$ref": "#/components/schemas/FraudDecisionDistributionDto"
            }
          },
          "process_breakdown": {
            "type": [
              "null",
              "array"
            ],
            "items": {
              "$ref": "#/components/schemas/FraudProcessBreakdownDto"
            }
          },
          "recent_high_risk": {
            "type": [
              "null",
              "array"
            ],
            "items": {
              "$ref": "#/components/schemas/FraudHighRiskLogDto"
            }
          }
        },
        "additionalProperties": false
      },
      "FraudDecisionDistributionDto": {
        "type": "object",
        "properties": {
          "decision": {
            "allOf": [
              {
                "$ref": "#/components/schemas/FraudAction"
              }
            ]
          },
          "value": {
            "type": "integer",
            "format": "int32"
          }
        },
        "additionalProperties": false
      },
      "FraudHighRiskLogDto": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "merchant_id": {
            "type": [
              "null",
              "string"
            ],
            "format": "uuid"
          },
          "process": {
            "allOf": [
              {
                "$ref": "#/components/schemas/FraudProcess"
              }
            ]
          },
          "external_txn_id": {
            "type": [
              "null",
              "string"
            ]
          },
          "amount_minor": {
            "type": "integer",
            "format": "int64"
          },
          "currency": {
            "type": [
              "null",
              "string"
            ]
          },
          "score": {
            "type": "integer",
            "format": "int32"
          },
          "decision": {
            "allOf": [
              {
                "$ref": "#/components/schemas/FraudAction"
              }
            ]
          },
          "reason_codes": {
            "type": [
              "null",
              "string"
            ]
          },
          "checked_at": {
            "type": "string",
            "format": "date-time"
          }
        },
        "additionalProperties": false
      },
      "FraudInstrumentSignals": {
        "type": "object",
        "properties": {
          "type": {
            "type": [
              "null",
              "string"
            ]
          },
          "bin": {
            "type": [
              "null",
              "string"
            ]
          },
          "last4": {
            "type": [
              "null",
              "string"
            ]
          },
          "pan_hash": {
            "type": [
              "null",
              "string"
            ]
          },
          "issuer_country": {
            "type": [
              "null",
              "string"
            ]
          },
          "holder_name": {
            "type": [
              "null",
              "string"
            ]
          },
          "exp_year": {
            "type": [
              "null",
              "integer"
            ],
            "format": "int32"
          },
          "exp_month": {
            "type": [
              "null",
              "integer"
            ],
            "format": "int32"
          },
          "iban_hash": {
            "type": [
              "null",
              "string"
            ]
          }
        },
        "additionalProperties": false
      },
      "FraudProcess": {
        "enum": [
          "SanalPos",
          "ParaTransferi",
          "FaturaOdeme"
        ],
        "type": "string"
      },
      "FraudProcessBreakdownDto": {
        "type": "object",
        "properties": {
          "process": {
            "allOf": [
              {
                "$ref": "#/components/schemas/FraudProcess"
              }
            ]
          },
          "total": {
            "type": "integer",
            "format": "int32"
          },
          "review": {
            "type": "integer",
            "format": "int32"
          },
          "block": {
            "type": "integer",
            "format": "int32"
          }
        },
        "additionalProperties": false
      },
      "FraudRuleDto": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "tenant_id": {
            "type": [
              "null",
              "string"
            ],
            "format": "uuid"
          },
          "merchant_id": {
            "type": [
              "null",
              "string"
            ],
            "format": "uuid"
          },
          "process": {
            "allOf": [
              {
                "$ref": "#/components/schemas/FraudProcess"
              }
            ]
          },
          "code": {
            "type": [
              "null",
              "string"
            ]
          },
          "name": {
            "type": [
              "null",
              "string"
            ]
          },
          "description": {
            "type": [
              "null",
              "string"
            ]
          },
          "type": {
            "allOf": [
              {
                "$ref": "#/components/schemas/FraudRuleType"
              }
            ]
          },
          "expression_json": {
            "type": [
              "null",
              "string"
            ]
          },
          "action": {
            "allOf": [
              {
                "$ref": "#/components/schemas/FraudAction"
              }
            ]
          },
          "priority": {
            "type": "integer",
            "format": "int32"
          },
          "is_active": {
            "type": "boolean"
          },
          "created": {
            "type": "string",
            "format": "date-time"
          },
          "last_modified": {
            "type": "string",
            "format": "date-time"
          }
        },
        "additionalProperties": false
      },
      "FraudRuleType": {
        "enum": [
          "Velocity",
          "AmountThreshold",
          "Geo",
          "Blacklist",
          "Custom"
        ],
        "type": "string"
      },
      "FraudTrendBucketDto": {
        "type": "object",
        "properties": {
          "ts": {
            "type": [
              "null",
              "string"
            ]
          },
          "total": {
            "type": "integer",
            "format": "int32"
          },
          "approve": {
            "type": "integer",
            "format": "int32"
          },
          "challenge": {
            "type": "integer",
            "format": "int32"
          },
          "review": {
            "type": "integer",
            "format": "int32"
          },
          "block": {
            "type": "integer",
            "format": "int32"
          }
        },
        "additionalProperties": false
      },
      "HttpValidationProblemDetails": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ProblemDetails"
          },
          {
            "type": "object",
            "properties": {
              "errors": {
                "type": [
                  "null",
                  "object"
                ],
                "additionalProperties": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              }
            },
            "additionalProperties": {}
          }
        ]
      },
      "MerchantFraudPolicyBundleDto": {
        "type": "object",
        "properties": {
          "tenant_id": {
            "type": "string",
            "format": "uuid"
          },
          "merchant_external_id": {
            "type": [
              "null",
              "string"
            ]
          },
          "policies": {
            "type": [
              "null",
              "array"
            ],
            "items": {
              "$ref": "#/components/schemas/MerchantFraudPolicyDto"
            }
          }
        },
        "additionalProperties": false
      },
      "MerchantFraudPolicyDto": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "tenant_id": {
            "type": "string",
            "format": "uuid"
          },
          "merchant_external_id": {
            "type": [
              "null",
              "string"
            ]
          },
          "process": {
            "allOf": [
              {
                "$ref": "#/components/schemas/FraudProcess"
              }
            ]
          },
          "enabled": {
            "type": "boolean"
          },
          "reason": {
            "type": [
              "null",
              "string"
            ]
          },
          "last_modified": {
            "type": "string",
            "format": "date-time"
          }
        },
        "additionalProperties": false
      },
      "PaginatedListOfBlacklistEntryDto": {
        "type": "object",
        "properties": {
          "items": {
            "type": [
              "null",
              "array"
            ],
            "items": {
              "$ref": "#/components/schemas/BlacklistEntryDto"
            }
          },
          "page": {
            "type": "integer",
            "format": "int32"
          },
          "total_pages": {
            "type": "integer",
            "format": "int32",
            "readOnly": true
          },
          "total_count": {
            "type": "integer",
            "format": "int32",
            "readOnly": true
          },
          "has_previous_page": {
            "type": "boolean",
            "readOnly": true
          },
          "has_next_page": {
            "type": "boolean",
            "readOnly": true
          }
        },
        "additionalProperties": false
      },
      "PaginatedListOfFraudAlertDto": {
        "type": "object",
        "properties": {
          "items": {
            "type": [
              "null",
              "array"
            ],
            "items": {
              "$ref": "#/components/schemas/FraudAlertDto"
            }
          },
          "page": {
            "type": "integer",
            "format": "int32"
          },
          "total_pages": {
            "type": "integer",
            "format": "int32",
            "readOnly": true
          },
          "total_count": {
            "type": "integer",
            "format": "int32",
            "readOnly": true
          },
          "has_previous_page": {
            "type": "boolean",
            "readOnly": true
          },
          "has_next_page": {
            "type": "boolean",
            "readOnly": true
          }
        },
        "additionalProperties": false
      },
      "PaginatedListOfFraudCheckLogDto": {
        "type": "object",
        "properties": {
          "items": {
            "type": [
              "null",
              "array"
            ],
            "items": {
              "$ref": "#/components/schemas/FraudCheckLogDto"
            }
          },
          "page": {
            "type": "integer",
            "format": "int32"
          },
          "total_pages": {
            "type": "integer",
            "format": "int32",
            "readOnly": true
          },
          "total_count": {
            "type": "integer",
            "format": "int32",
            "readOnly": true
          },
          "has_previous_page": {
            "type": "boolean",
            "readOnly": true
          },
          "has_next_page": {
            "type": "boolean",
            "readOnly": true
          }
        },
        "additionalProperties": false
      },
      "PaginatedListOfFraudRuleDto": {
        "type": "object",
        "properties": {
          "items": {
            "type": [
              "null",
              "array"
            ],
            "items": {
              "$ref": "#/components/schemas/FraudRuleDto"
            }
          },
          "page": {
            "type": "integer",
            "format": "int32"
          },
          "total_pages": {
            "type": "integer",
            "format": "int32",
            "readOnly": true
          },
          "total_count": {
            "type": "integer",
            "format": "int32",
            "readOnly": true
          },
          "has_previous_page": {
            "type": "boolean",
            "readOnly": true
          },
          "has_next_page": {
            "type": "boolean",
            "readOnly": true
          }
        },
        "additionalProperties": false
      },
      "ProblemDetails": {
        "type": "object",
        "properties": {
          "type": {
            "type": [
              "null",
              "string"
            ]
          },
          "title": {
            "type": [
              "null",
              "string"
            ]
          },
          "status": {
            "type": [
              "null",
              "integer"
            ],
            "format": "int32"
          },
          "detail": {
            "type": [
              "null",
              "string"
            ]
          },
          "instance": {
            "type": [
              "null",
              "string"
            ]
          }
        },
        "additionalProperties": {}
      },
      "TxnOutcome": {
        "enum": [
          "Success",
          "Failed",
          "Cancelled",
          "ChargedBack"
        ],
        "type": "string"
      },
      "UpdateFraudRuleRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": [
              "null",
              "string"
            ]
          },
          "description": {
            "type": [
              "null",
              "string"
            ]
          },
          "expression_json": {
            "type": [
              "null",
              "string"
            ]
          },
          "action": {
            "type": "null",
            "allOf": [
              {
                "$ref": "#/components/schemas/FraudAction"
              }
            ]
          },
          "priority": {
            "type": [
              "null",
              "integer"
            ],
            "format": "int32"
          },
          "is_active": {
            "type": [
              "null",
              "boolean"
            ]
          }
        },
        "additionalProperties": false
      },
      "UpsertMerchantPolicyItem": {
        "type": "object",
        "properties": {
          "process": {
            "allOf": [
              {
                "$ref": "#/components/schemas/FraudProcess"
              }
            ]
          },
          "enabled": {
            "type": "boolean"
          },
          "reason": {
            "type": [
              "null",
              "string"
            ]
          }
        },
        "additionalProperties": false
      },
      "UpsertMerchantPolicyRequest": {
        "type": "object",
        "properties": {
          "policies": {
            "type": [
              "null",
              "array"
            ],
            "items": {
              "$ref": "#/components/schemas/UpsertMerchantPolicyItem"
            }
          }
        },
        "additionalProperties": false
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Keycloak JWT. Format: `Authorization: Bearer <token>`.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      },
      "oauth2": {
        "type": "oauth2",
        "description": "Keycloak Authorization Code (PKCE) — Swagger UI interaktif login.",
        "flows": {
          "authorizationCode": {
            "authorizationUrl": "http://keycloak:8080/realms/payven/protocol/openid-connect/auth",
            "tokenUrl": "http://keycloak:8080/realms/payven/protocol/openid-connect/token",
            "scopes": {
              "openid": "OpenID Connect",
              "profile": "User profile",
              "email": "User email"
            }
          }
        }
      }
    },
    "responses": {
      "BadRequest": {
        "description": "Geçersiz istek (eksik alan, bozuk JSON).",
        "content": {
          "application/problem+json": {
            "schema": {
              "$ref": "#/components/schemas/ProblemDetails"
            },
            "example": {
              "type": "https://docs.payven.com.tr/errors/bad_request",
              "title": "Geçersiz istek",
              "status": 400,
              "code": "bad_request",
              "detail": "amount.amount alanı zorunlu.",
              "correlation_id": "9f1c8e76-2a3b-4f12-9c8d-12cb24a8a8a8"
            }
          }
        }
      },
      "Unauthorized": {
        "description": "`Authorization` header eksik, geçersiz veya süresi dolmuş.",
        "content": {
          "application/problem+json": {
            "schema": {
              "$ref": "#/components/schemas/ProblemDetails"
            },
            "example": {
              "type": "https://docs.payven.com.tr/errors/invalid_token",
              "title": "Geçersiz token",
              "status": 401,
              "code": "invalid_token",
              "detail": "Access token geçersiz veya süresi dolmuş — refresh edin."
            }
          }
        }
      },
      "Forbidden": {
        "description": "Yetki yok, lisans yok veya merchant pasif.",
        "content": {
          "application/problem+json": {
            "schema": {
              "$ref": "#/components/schemas/ProblemDetails"
            },
            "example": {
              "type": "https://docs.payven.com.tr/errors/forbidden",
              "title": "Yetki yok",
              "status": 403,
              "code": "forbidden",
              "detail": "Bu rol bu kaynağı göremez."
            }
          }
        }
      },
      "NotFound": {
        "description": "Kaynak bulunamadı.",
        "content": {
          "application/problem+json": {
            "schema": {
              "$ref": "#/components/schemas/ProblemDetails"
            },
            "example": {
              "type": "https://docs.payven.com.tr/errors/resource_not_found",
              "title": "Kaynak bulunamadı",
              "status": 404,
              "code": "resource_not_found"
            }
          }
        }
      },
      "Conflict": {
        "description": "Idempotency çakışması veya geçersiz durum geçişi.",
        "content": {
          "application/problem+json": {
            "schema": {
              "$ref": "#/components/schemas/ProblemDetails"
            },
            "example": {
              "type": "https://docs.payven.com.tr/errors/idempotency_key_in_use",
              "title": "Idempotency-Key çakışması",
              "status": 409,
              "code": "idempotency_key_in_use",
              "detail": "Bu Idempotency-Key daha önce farklı bir istek gövdesi ile kullanıldı."
            }
          }
        }
      },
      "UnprocessableEntity": {
        "description": "Validasyon veya iş kuralı ihlali (`bank_declined`, `validation_failed`, `fraud_blocked` vb.).",
        "content": {
          "application/problem+json": {
            "schema": {
              "$ref": "#/components/schemas/ProblemDetails"
            },
            "example": {
              "type": "https://docs.payven.com.tr/errors/bank_declined",
              "title": "Banka işlemi reddetti",
              "status": 422,
              "code": "bank_declined",
              "detail": "Yetersiz bakiye (banka kodu: 51)",
              "provider_error_code": "51"
            }
          }
        }
      },
      "TooManyRequests": {
        "description": "Rate limit aşıldı. `Retry-After` header'ına uyun.",
        "headers": {
          "Retry-After": {
            "description": "Yeniden denemeden önce beklemeniz gereken saniye sayısı.",
            "schema": {
              "type": "integer"
            }
          }
        },
        "content": {
          "application/problem+json": {
            "schema": {
              "$ref": "#/components/schemas/ProblemDetails"
            },
            "example": {
              "type": "https://docs.payven.com.tr/errors/rate_limit_exceeded",
              "title": "İstek limiti aşıldı",
              "status": 429,
              "code": "rate_limit_exceeded"
            }
          }
        }
      },
      "ServerError": {
        "description": "Sunucu hatası. Exponential backoff ile tekrar deneyin (Idempotency-Key ile).",
        "content": {
          "application/problem+json": {
            "schema": {
              "$ref": "#/components/schemas/ProblemDetails"
            },
            "example": {
              "type": "https://docs.payven.com.tr/errors/internal_server_error",
              "title": "Sunucu hatası",
              "status": 500,
              "code": "internal_server_error"
            }
          }
        }
      },
      "ServiceUnavailable": {
        "description": "Hedef konnektör geçici olarak devre dışı (circuit breaker açık) veya bağımlılık servisi erişilemez.",
        "content": {
          "application/problem+json": {
            "schema": {
              "$ref": "#/components/schemas/ProblemDetails"
            },
            "example": {
              "type": "https://docs.payven.com.tr/errors/connector_unavailable",
              "title": "Konnektör erişilemez",
              "status": 503,
              "code": "connector_unavailable"
            }
          }
        }
      }
    }
  },
  "security": [
    {
      "bearerAuth": []
    },
    {
      "oauth2": []
    }
  ],
  "tags": [
    {
      "name": "PlatformFraudAlerts",
      "x-displayName": "Platform Fraud Uyarıları"
    },
    {
      "name": "TenantFraudAlerts",
      "x-displayName": "Fraud Uyarıları"
    },
    {
      "name": "TenantFraudBlacklist",
      "x-displayName": "Kara Liste"
    },
    {
      "name": "TenantFraudDashboard"
    },
    {
      "name": "TenantFraudLogs",
      "x-displayName": "Fraud Logları"
    },
    {
      "name": "TenantFraudMerchantPolicies",
      "x-displayName": "Bayi Fraud Politikaları"
    },
    {
      "name": "TenantFraudRules",
      "x-displayName": "Fraud Kuralları"
    }
  ]
}