{
  "openapi": "3.0.0",
  "info": {
    "title": "Payven API",
    "version": "1.0.0",
    "description": "Payven Sanal POS API Dokümantasyonu"
  },
  "servers": [
    {
      "url": "https://api.payven.com/v1",
      "description": "Production Server"
    },
    {
      "url": "https://sandbox-api.payven.com/v1",
      "description": "Sandbox Server"
    }
  ],
  "components": {
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  },
  "security": [
    {
      "BearerAuth": []
    }
  ],
  "paths": {
    "/auth/login": {
      "post": {
        "summary": "Kullanıcı Girişi",
        "description": "Kullanıcı adı ve şifre ile giriş yaparak Bearer token alır.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "username": {
                    "type": "string"
                  },
                  "password": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Başarılı giriş",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "token": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/payment/create": {
      "post": {
        "summary": "Ödeme Oluştur",
        "description": "Yeni bir ödeme işlemi başlatır.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "amount": {
                    "type": "number"
                  },
                  "currency": {
                    "type": "string",
                    "default": "TRY"
                  },
                  "cardHolderName": {
                    "type": "string"
                  },
                  "cardNumber": {
                    "type": "string"
                  },
                  "expireMonth": {
                    "type": "string"
                  },
                  "expireYear": {
                    "type": "string"
                  },
                  "cvc": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Ödeme başarılı",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "transactionId": {
                      "type": "string"
                    },
                    "status": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/payment/refund": {
      "post": {
        "summary": "İade İşlemi",
        "description": "Yapılan bir ödemeyi iade eder.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "transactionId": {
                    "type": "string"
                  },
                  "amount": {
                    "type": "number"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "İade başarılı",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "refundId": {
                      "type": "string"
                    },
                    "status": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}