{
  "openapi": "3.1.1",
  "info": {
    "title": "Payven Identity API",
    "description": "Payven Identity — kimlik dogrulama, tenant ve API key yonetimi, lookup servisleri.",
    "termsOfService": "https://payven.com.tr/sozlesmeler",
    "contact": {
      "name": "Payven Developer Support",
      "url": "https://docs.payven.com.tr",
      "email": "destek@payven.com.tr"
    },
    "license": {
      "name": "Payven API License",
      "url": "https://payven.com.tr/sozlesmeler/api-lisansi"
    },
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://identity.payven.com.tr",
      "description": "Production"
    },
    {
      "url": "https://identity-sandbox.payven.com.tr",
      "description": "Sandbox"
    }
  ],
  "paths": {
    "/api/v1/admin/announcements": {
      "get": {
        "tags": [
          "AnnouncementsAdmin"
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "page_size",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 10
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain; ver=1.0": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedListOfAnnouncementAdminDto"
                }
              },
              "application/json; ver=1.0": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedListOfAnnouncementAdminDto"
                }
              },
              "text/json; ver=1.0": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedListOfAnnouncementAdminDto"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        },
        "operationId": "listAnnouncementsAdmin",
        "summary": "Announcementsadmin listele"
      },
      "post": {
        "tags": [
          "AnnouncementsAdmin"
        ],
        "requestBody": {
          "content": {
            "application/json; ver=1.0": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/CreateAnnouncementRequest"
                  }
                ]
              }
            },
            "text/json; ver=1.0": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/CreateAnnouncementRequest"
                  }
                ]
              }
            },
            "application/*+json; ver=1.0": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/CreateAnnouncementRequest"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "text/plain; ver=1.0": {
                "schema": {
                  "$ref": "#/components/schemas/AnnouncementAdminDto"
                }
              },
              "application/json; ver=1.0": {
                "schema": {
                  "$ref": "#/components/schemas/AnnouncementAdminDto"
                }
              },
              "text/json; ver=1.0": {
                "schema": {
                  "$ref": "#/components/schemas/AnnouncementAdminDto"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Content",
            "content": {
              "text/plain; ver=1.0": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ProblemDetails"
                    },
                    {
                      "$ref": "#/components/schemas/HttpValidationProblemDetails"
                    }
                  ]
                }
              },
              "application/json; ver=1.0": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ProblemDetails"
                    },
                    {
                      "$ref": "#/components/schemas/HttpValidationProblemDetails"
                    }
                  ]
                }
              },
              "text/json; ver=1.0": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ProblemDetails"
                    },
                    {
                      "$ref": "#/components/schemas/HttpValidationProblemDetails"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          }
        },
        "operationId": "createAnnouncementsAdmin",
        "summary": "Announcementsadmin oluştur"
      }
    },
    "/api/v1/admin/announcements/{id}": {
      "put": {
        "tags": [
          "AnnouncementsAdmin"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json; ver=1.0": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/UpdateAnnouncementRequest"
                  }
                ]
              }
            },
            "text/json; ver=1.0": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/UpdateAnnouncementRequest"
                  }
                ]
              }
            },
            "application/*+json; ver=1.0": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/UpdateAnnouncementRequest"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain; ver=1.0": {
                "schema": {
                  "$ref": "#/components/schemas/AnnouncementAdminDto"
                }
              },
              "application/json; ver=1.0": {
                "schema": {
                  "$ref": "#/components/schemas/AnnouncementAdminDto"
                }
              },
              "text/json; ver=1.0": {
                "schema": {
                  "$ref": "#/components/schemas/AnnouncementAdminDto"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "text/plain; ver=1.0": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ProblemDetails"
                    },
                    {
                      "$ref": "#/components/schemas/HttpValidationProblemDetails"
                    }
                  ]
                }
              },
              "application/json; ver=1.0": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ProblemDetails"
                    },
                    {
                      "$ref": "#/components/schemas/HttpValidationProblemDetails"
                    }
                  ]
                }
              },
              "text/json; ver=1.0": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ProblemDetails"
                    },
                    {
                      "$ref": "#/components/schemas/HttpValidationProblemDetails"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          }
        },
        "operationId": "updateAnnouncementsAdmin",
        "summary": "Announcementsadmin güncelle"
      },
      "delete": {
        "tags": [
          "AnnouncementsAdmin"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          },
          "404": {
            "description": "Not Found",
            "content": {
              "text/plain; ver=1.0": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ProblemDetails"
                    },
                    {
                      "$ref": "#/components/schemas/HttpValidationProblemDetails"
                    }
                  ]
                }
              },
              "application/json; ver=1.0": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ProblemDetails"
                    },
                    {
                      "$ref": "#/components/schemas/HttpValidationProblemDetails"
                    }
                  ]
                }
              },
              "text/json; ver=1.0": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ProblemDetails"
                    },
                    {
                      "$ref": "#/components/schemas/HttpValidationProblemDetails"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          }
        },
        "operationId": "deleteAnnouncementsAdmin",
        "summary": "Announcementsadmin sil"
      }
    },
    "/api/v1/auth/{tenant}/login": {
      "post": {
        "tags": [
          "Auth"
        ],
        "parameters": [
          {
            "name": "tenant",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Idempotency-Key",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json; ver=1.0": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/LoginRequest"
                  }
                ]
              }
            },
            "text/json; ver=1.0": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/LoginRequest"
                  }
                ]
              }
            },
            "application/*+json; ver=1.0": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/LoginRequest"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain; ver=1.0": {
                "schema": {
                  "$ref": "#/components/schemas/LoginResponse"
                }
              },
              "application/json; ver=1.0": {
                "schema": {
                  "$ref": "#/components/schemas/LoginResponse"
                }
              },
              "text/json; ver=1.0": {
                "schema": {
                  "$ref": "#/components/schemas/LoginResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "text/plain; ver=1.0": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ProblemDetails"
                    },
                    {
                      "$ref": "#/components/schemas/HttpValidationProblemDetails"
                    }
                  ]
                }
              },
              "application/json; ver=1.0": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ProblemDetails"
                    },
                    {
                      "$ref": "#/components/schemas/HttpValidationProblemDetails"
                    }
                  ]
                }
              },
              "text/json; ver=1.0": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ProblemDetails"
                    },
                    {
                      "$ref": "#/components/schemas/HttpValidationProblemDetails"
                    }
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "text/plain; ver=1.0": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ProblemDetails"
                    },
                    {
                      "$ref": "#/components/schemas/HttpValidationProblemDetails"
                    }
                  ]
                }
              },
              "application/json; ver=1.0": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ProblemDetails"
                    },
                    {
                      "$ref": "#/components/schemas/HttpValidationProblemDetails"
                    }
                  ]
                }
              },
              "text/json; ver=1.0": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ProblemDetails"
                    },
                    {
                      "$ref": "#/components/schemas/HttpValidationProblemDetails"
                    }
                  ]
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          }
        },
        "security": [],
        "operationId": "createAuth",
        "summary": "Kimlik doğrulama oluştur"
      }
    },
    "/api/v1/auth/{tenant}/verify-otp": {
      "post": {
        "tags": [
          "Auth"
        ],
        "parameters": [
          {
            "name": "tenant",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json; ver=1.0": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/VerifyOtpRequest"
                  }
                ]
              }
            },
            "text/json; ver=1.0": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/VerifyOtpRequest"
                  }
                ]
              }
            },
            "application/*+json; ver=1.0": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/VerifyOtpRequest"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain; ver=1.0": {
                "schema": {
                  "$ref": "#/components/schemas/KeycloakTokenResult"
                }
              },
              "application/json; ver=1.0": {
                "schema": {
                  "$ref": "#/components/schemas/KeycloakTokenResult"
                }
              },
              "text/json; ver=1.0": {
                "schema": {
                  "$ref": "#/components/schemas/KeycloakTokenResult"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "text/plain; ver=1.0": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ProblemDetails"
                    },
                    {
                      "$ref": "#/components/schemas/HttpValidationProblemDetails"
                    }
                  ]
                }
              },
              "application/json; ver=1.0": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ProblemDetails"
                    },
                    {
                      "$ref": "#/components/schemas/HttpValidationProblemDetails"
                    }
                  ]
                }
              },
              "text/json; ver=1.0": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ProblemDetails"
                    },
                    {
                      "$ref": "#/components/schemas/HttpValidationProblemDetails"
                    }
                  ]
                }
              }
            }
          },
          "410": {
            "description": "Gone",
            "content": {
              "text/plain; ver=1.0": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ProblemDetails"
                    },
                    {
                      "$ref": "#/components/schemas/HttpValidationProblemDetails"
                    }
                  ]
                }
              },
              "application/json; ver=1.0": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ProblemDetails"
                    },
                    {
                      "$ref": "#/components/schemas/HttpValidationProblemDetails"
                    }
                  ]
                }
              },
              "text/json; ver=1.0": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ProblemDetails"
                    },
                    {
                      "$ref": "#/components/schemas/HttpValidationProblemDetails"
                    }
                  ]
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "text/plain; ver=1.0": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ProblemDetails"
                    },
                    {
                      "$ref": "#/components/schemas/HttpValidationProblemDetails"
                    }
                  ]
                }
              },
              "application/json; ver=1.0": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ProblemDetails"
                    },
                    {
                      "$ref": "#/components/schemas/HttpValidationProblemDetails"
                    }
                  ]
                }
              },
              "text/json; ver=1.0": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ProblemDetails"
                    },
                    {
                      "$ref": "#/components/schemas/HttpValidationProblemDetails"
                    }
                  ]
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          }
        },
        "security": [],
        "operationId": "createAuth",
        "summary": "Kimlik doğrulama oluştur"
      }
    },
    "/api/v1/auth/{tenant}/resend-otp": {
      "post": {
        "tags": [
          "Auth"
        ],
        "parameters": [
          {
            "name": "tenant",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json; ver=1.0": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/ResendOtpRequest"
                  }
                ]
              }
            },
            "text/json; ver=1.0": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/ResendOtpRequest"
                  }
                ]
              }
            },
            "application/*+json; ver=1.0": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/ResendOtpRequest"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain; ver=1.0": {
                "schema": {
                  "$ref": "#/components/schemas/OtpChallengeDto"
                }
              },
              "application/json; ver=1.0": {
                "schema": {
                  "$ref": "#/components/schemas/OtpChallengeDto"
                }
              },
              "text/json; ver=1.0": {
                "schema": {
                  "$ref": "#/components/schemas/OtpChallengeDto"
                }
              }
            }
          },
          "410": {
            "description": "Gone",
            "content": {
              "text/plain; ver=1.0": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ProblemDetails"
                    },
                    {
                      "$ref": "#/components/schemas/HttpValidationProblemDetails"
                    }
                  ]
                }
              },
              "application/json; ver=1.0": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ProblemDetails"
                    },
                    {
                      "$ref": "#/components/schemas/HttpValidationProblemDetails"
                    }
                  ]
                }
              },
              "text/json; ver=1.0": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ProblemDetails"
                    },
                    {
                      "$ref": "#/components/schemas/HttpValidationProblemDetails"
                    }
                  ]
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "text/plain; ver=1.0": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ProblemDetails"
                    },
                    {
                      "$ref": "#/components/schemas/HttpValidationProblemDetails"
                    }
                  ]
                }
              },
              "application/json; ver=1.0": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ProblemDetails"
                    },
                    {
                      "$ref": "#/components/schemas/HttpValidationProblemDetails"
                    }
                  ]
                }
              },
              "text/json; ver=1.0": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ProblemDetails"
                    },
                    {
                      "$ref": "#/components/schemas/HttpValidationProblemDetails"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          }
        },
        "security": [],
        "operationId": "createAuth",
        "summary": "Kimlik doğrulama oluştur"
      }
    },
    "/api/v1/auth/{tenant}/token": {
      "post": {
        "tags": [
          "Auth"
        ],
        "parameters": [
          {
            "name": "tenant",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Idempotency-Key",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json; ver=1.0": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/ClientCredentialsRequest"
                  }
                ]
              }
            },
            "text/json; ver=1.0": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/ClientCredentialsRequest"
                  }
                ]
              }
            },
            "application/*+json; ver=1.0": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/ClientCredentialsRequest"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain; ver=1.0": {
                "schema": {
                  "$ref": "#/components/schemas/LoginResponse"
                }
              },
              "application/json; ver=1.0": {
                "schema": {
                  "$ref": "#/components/schemas/LoginResponse"
                }
              },
              "text/json; ver=1.0": {
                "schema": {
                  "$ref": "#/components/schemas/LoginResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "text/plain; ver=1.0": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ProblemDetails"
                    },
                    {
                      "$ref": "#/components/schemas/HttpValidationProblemDetails"
                    }
                  ]
                }
              },
              "application/json; ver=1.0": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ProblemDetails"
                    },
                    {
                      "$ref": "#/components/schemas/HttpValidationProblemDetails"
                    }
                  ]
                }
              },
              "text/json; ver=1.0": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ProblemDetails"
                    },
                    {
                      "$ref": "#/components/schemas/HttpValidationProblemDetails"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "text/plain; ver=1.0": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ProblemDetails"
                    },
                    {
                      "$ref": "#/components/schemas/HttpValidationProblemDetails"
                    }
                  ]
                }
              },
              "application/json; ver=1.0": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ProblemDetails"
                    },
                    {
                      "$ref": "#/components/schemas/HttpValidationProblemDetails"
                    }
                  ]
                }
              },
              "text/json; ver=1.0": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ProblemDetails"
                    },
                    {
                      "$ref": "#/components/schemas/HttpValidationProblemDetails"
                    }
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "text/plain; ver=1.0": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ProblemDetails"
                    },
                    {
                      "$ref": "#/components/schemas/HttpValidationProblemDetails"
                    }
                  ]
                }
              },
              "application/json; ver=1.0": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ProblemDetails"
                    },
                    {
                      "$ref": "#/components/schemas/HttpValidationProblemDetails"
                    }
                  ]
                }
              },
              "text/json; ver=1.0": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ProblemDetails"
                    },
                    {
                      "$ref": "#/components/schemas/HttpValidationProblemDetails"
                    }
                  ]
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          }
        },
        "security": [],
        "operationId": "createAuth",
        "summary": "Kimlik doğrulama oluştur"
      }
    },
    "/api/v1/auth/{tenant}/register": {
      "post": {
        "tags": [
          "Auth"
        ],
        "parameters": [
          {
            "name": "tenant",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Idempotency-Key",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json; ver=1.0": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/RegisterUserRequest"
                  }
                ]
              }
            },
            "text/json; ver=1.0": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/RegisterUserRequest"
                  }
                ]
              }
            },
            "application/*+json; ver=1.0": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/RegisterUserRequest"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "text/plain; ver=1.0": {
                "schema": {
                  "$ref": "#/components/schemas/RegisterUserResult"
                }
              },
              "application/json; ver=1.0": {
                "schema": {
                  "$ref": "#/components/schemas/RegisterUserResult"
                }
              },
              "text/json; ver=1.0": {
                "schema": {
                  "$ref": "#/components/schemas/RegisterUserResult"
                }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "text/plain; ver=1.0": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ProblemDetails"
                    },
                    {
                      "$ref": "#/components/schemas/HttpValidationProblemDetails"
                    }
                  ]
                }
              },
              "application/json; ver=1.0": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ProblemDetails"
                    },
                    {
                      "$ref": "#/components/schemas/HttpValidationProblemDetails"
                    }
                  ]
                }
              },
              "text/json; ver=1.0": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ProblemDetails"
                    },
                    {
                      "$ref": "#/components/schemas/HttpValidationProblemDetails"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          }
        },
        "security": [],
        "operationId": "createAuth",
        "summary": "Kimlik doğrulama oluştur"
      }
    },
    "/api/v1/auth/{tenant}/refresh": {
      "post": {
        "tags": [
          "Auth"
        ],
        "parameters": [
          {
            "name": "tenant",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json; ver=1.0": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/RefreshRequest"
                  }
                ]
              }
            },
            "text/json; ver=1.0": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/RefreshRequest"
                  }
                ]
              }
            },
            "application/*+json; ver=1.0": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/RefreshRequest"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain; ver=1.0": {
                "schema": {
                  "$ref": "#/components/schemas/KeycloakTokenResult"
                }
              },
              "application/json; ver=1.0": {
                "schema": {
                  "$ref": "#/components/schemas/KeycloakTokenResult"
                }
              },
              "text/json; ver=1.0": {
                "schema": {
                  "$ref": "#/components/schemas/KeycloakTokenResult"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "text/plain; ver=1.0": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ProblemDetails"
                    },
                    {
                      "$ref": "#/components/schemas/HttpValidationProblemDetails"
                    }
                  ]
                }
              },
              "application/json; ver=1.0": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ProblemDetails"
                    },
                    {
                      "$ref": "#/components/schemas/HttpValidationProblemDetails"
                    }
                  ]
                }
              },
              "text/json; ver=1.0": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ProblemDetails"
                    },
                    {
                      "$ref": "#/components/schemas/HttpValidationProblemDetails"
                    }
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "text/plain; ver=1.0": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ProblemDetails"
                    },
                    {
                      "$ref": "#/components/schemas/HttpValidationProblemDetails"
                    }
                  ]
                }
              },
              "application/json; ver=1.0": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ProblemDetails"
                    },
                    {
                      "$ref": "#/components/schemas/HttpValidationProblemDetails"
                    }
                  ]
                }
              },
              "text/json; ver=1.0": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ProblemDetails"
                    },
                    {
                      "$ref": "#/components/schemas/HttpValidationProblemDetails"
                    }
                  ]
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          }
        },
        "security": [],
        "operationId": "createAuth",
        "summary": "Kimlik doğrulama oluştur"
      }
    },
    "/api/v1/auth/{tenant}/logout": {
      "post": {
        "tags": [
          "Auth"
        ],
        "parameters": [
          {
            "name": "tenant",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json; ver=1.0": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/LogoutRequest"
                  }
                ]
              }
            },
            "text/json; ver=1.0": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/LogoutRequest"
                  }
                ]
              }
            },
            "application/*+json; ver=1.0": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/LogoutRequest"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "No Content"
          },
          "404": {
            "description": "Not Found",
            "content": {
              "text/plain; ver=1.0": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ProblemDetails"
                    },
                    {
                      "$ref": "#/components/schemas/HttpValidationProblemDetails"
                    }
                  ]
                }
              },
              "application/json; ver=1.0": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ProblemDetails"
                    },
                    {
                      "$ref": "#/components/schemas/HttpValidationProblemDetails"
                    }
                  ]
                }
              },
              "text/json; ver=1.0": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ProblemDetails"
                    },
                    {
                      "$ref": "#/components/schemas/HttpValidationProblemDetails"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          }
        },
        "security": [],
        "operationId": "createAuth",
        "summary": "Kimlik doğrulama oluştur"
      }
    },
    "/api/v1/auth/{tenant}/me": {
      "get": {
        "tags": [
          "Auth"
        ],
        "parameters": [
          {
            "name": "tenant",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain; ver=1.0": {
                "schema": {
                  "$ref": "#/components/schemas/KeycloakUserInfoResult"
                }
              },
              "application/json; ver=1.0": {
                "schema": {
                  "$ref": "#/components/schemas/KeycloakUserInfoResult"
                }
              },
              "text/json; ver=1.0": {
                "schema": {
                  "$ref": "#/components/schemas/KeycloakUserInfoResult"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "text/plain; ver=1.0": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ProblemDetails"
                    },
                    {
                      "$ref": "#/components/schemas/HttpValidationProblemDetails"
                    }
                  ]
                }
              },
              "application/json; ver=1.0": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ProblemDetails"
                    },
                    {
                      "$ref": "#/components/schemas/HttpValidationProblemDetails"
                    }
                  ]
                }
              },
              "text/json; ver=1.0": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ProblemDetails"
                    },
                    {
                      "$ref": "#/components/schemas/HttpValidationProblemDetails"
                    }
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "text/plain; ver=1.0": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ProblemDetails"
                    },
                    {
                      "$ref": "#/components/schemas/HttpValidationProblemDetails"
                    }
                  ]
                }
              },
              "application/json; ver=1.0": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ProblemDetails"
                    },
                    {
                      "$ref": "#/components/schemas/HttpValidationProblemDetails"
                    }
                  ]
                }
              },
              "text/json; ver=1.0": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ProblemDetails"
                    },
                    {
                      "$ref": "#/components/schemas/HttpValidationProblemDetails"
                    }
                  ]
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        },
        "operationId": "listAuth",
        "summary": "Kimlik doğrulama işlemlerini listele"
      }
    },
    "/api/v1/auth/update-profile": {
      "put": {
        "tags": [
          "Auth"
        ],
        "requestBody": {
          "content": {
            "application/json; ver=1.0": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/UpdateProfileRequest"
                  }
                ]
              }
            },
            "text/json; ver=1.0": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/UpdateProfileRequest"
                  }
                ]
              }
            },
            "application/*+json; ver=1.0": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/UpdateProfileRequest"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain; ver=1.0": {
                "schema": {
                  "$ref": "#/components/schemas/UserDto"
                }
              },
              "application/json; ver=1.0": {
                "schema": {
                  "$ref": "#/components/schemas/UserDto"
                }
              },
              "text/json; ver=1.0": {
                "schema": {
                  "$ref": "#/components/schemas/UserDto"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          }
        },
        "operationId": "updateProfile",
        "summary": "Profili güncelle"
      }
    },
    "/api/v1/auth/change-password": {
      "post": {
        "tags": [
          "Auth"
        ],
        "parameters": [
          {
            "name": "Idempotency-Key",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json; ver=1.0": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/ChangePasswordRequest"
                  }
                ]
              }
            },
            "text/json; ver=1.0": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/ChangePasswordRequest"
                  }
                ]
              }
            },
            "application/*+json; ver=1.0": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/ChangePasswordRequest"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "No Content"
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "text/plain; ver=1.0": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ProblemDetails"
                    },
                    {
                      "$ref": "#/components/schemas/HttpValidationProblemDetails"
                    }
                  ]
                }
              },
              "application/json; ver=1.0": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ProblemDetails"
                    },
                    {
                      "$ref": "#/components/schemas/HttpValidationProblemDetails"
                    }
                  ]
                }
              },
              "text/json; ver=1.0": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ProblemDetails"
                    },
                    {
                      "$ref": "#/components/schemas/HttpValidationProblemDetails"
                    }
                  ]
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          }
        },
        "operationId": "changePassword",
        "summary": "Şifre değiştir"
      }
    },
    "/api/v1/admin/conversations": {
      "get": {
        "tags": [
          "ConversationsAdmin"
        ],
        "parameters": [
          {
            "name": "status",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "assigned_to_me",
            "in": "query",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "merchant_id",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "page_size",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 10
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain; ver=1.0": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedListOfConversationThreadSummaryDto"
                }
              },
              "application/json; ver=1.0": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedListOfConversationThreadSummaryDto"
                }
              },
              "text/json; ver=1.0": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedListOfConversationThreadSummaryDto"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        },
        "operationId": "listConversationsAdmin",
        "summary": "Conversationsadmin listele"
      }
    },
    "/api/v1/admin/conversations/{id}/status": {
      "patch": {
        "tags": [
          "ConversationsAdmin"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json; ver=1.0": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/UpdateConversationStatusRequest"
                  }
                ]
              }
            },
            "text/json; ver=1.0": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/UpdateConversationStatusRequest"
                  }
                ]
              }
            },
            "application/*+json; ver=1.0": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/UpdateConversationStatusRequest"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain; ver=1.0": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ConversationThreadSummaryDto"
                    },
                    {
                      "$ref": "#/components/schemas/ConversationThreadDetailDto"
                    }
                  ]
                }
              },
              "application/json; ver=1.0": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ConversationThreadSummaryDto"
                    },
                    {
                      "$ref": "#/components/schemas/ConversationThreadDetailDto"
                    }
                  ]
                }
              },
              "text/json; ver=1.0": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ConversationThreadSummaryDto"
                    },
                    {
                      "$ref": "#/components/schemas/ConversationThreadDetailDto"
                    }
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "text/plain; ver=1.0": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ProblemDetails"
                    },
                    {
                      "$ref": "#/components/schemas/HttpValidationProblemDetails"
                    }
                  ]
                }
              },
              "application/json; ver=1.0": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ProblemDetails"
                    },
                    {
                      "$ref": "#/components/schemas/HttpValidationProblemDetails"
                    }
                  ]
                }
              },
              "text/json; ver=1.0": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ProblemDetails"
                    },
                    {
                      "$ref": "#/components/schemas/HttpValidationProblemDetails"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          }
        },
        "operationId": "updateConversationsAdminStatus",
        "summary": "Conversationsadmin durumunu güncelle"
      }
    },
    "/api/v1/admin/conversations/{id}/assign": {
      "patch": {
        "tags": [
          "ConversationsAdmin"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json; ver=1.0": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/AssignConversationRequest"
                  }
                ]
              }
            },
            "text/json; ver=1.0": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/AssignConversationRequest"
                  }
                ]
              }
            },
            "application/*+json; ver=1.0": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/AssignConversationRequest"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain; ver=1.0": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ConversationThreadSummaryDto"
                    },
                    {
                      "$ref": "#/components/schemas/ConversationThreadDetailDto"
                    }
                  ]
                }
              },
              "application/json; ver=1.0": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ConversationThreadSummaryDto"
                    },
                    {
                      "$ref": "#/components/schemas/ConversationThreadDetailDto"
                    }
                  ]
                }
              },
              "text/json; ver=1.0": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ConversationThreadSummaryDto"
                    },
                    {
                      "$ref": "#/components/schemas/ConversationThreadDetailDto"
                    }
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "text/plain; ver=1.0": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ProblemDetails"
                    },
                    {
                      "$ref": "#/components/schemas/HttpValidationProblemDetails"
                    }
                  ]
                }
              },
              "application/json; ver=1.0": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ProblemDetails"
                    },
                    {
                      "$ref": "#/components/schemas/HttpValidationProblemDetails"
                    }
                  ]
                }
              },
              "text/json; ver=1.0": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ProblemDetails"
                    },
                    {
                      "$ref": "#/components/schemas/HttpValidationProblemDetails"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          }
        },
        "operationId": "patchConversationsAdmin",
        "summary": "PATCH ConversationsAdmin"
      }
    },
    "/api/v1/admin/conversations/{id}": {
      "delete": {
        "tags": [
          "ConversationsAdmin"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          },
          "404": {
            "description": "Not Found",
            "content": {
              "text/plain; ver=1.0": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ProblemDetails"
                    },
                    {
                      "$ref": "#/components/schemas/HttpValidationProblemDetails"
                    }
                  ]
                }
              },
              "application/json; ver=1.0": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ProblemDetails"
                    },
                    {
                      "$ref": "#/components/schemas/HttpValidationProblemDetails"
                    }
                  ]
                }
              },
              "text/json; ver=1.0": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ProblemDetails"
                    },
                    {
                      "$ref": "#/components/schemas/HttpValidationProblemDetails"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          }
        },
        "operationId": "deleteConversationsAdmin",
        "summary": "Conversationsadmin sil"
      }
    },
    "/api/v1/inbox/summary": {
      "get": {
        "tags": [
          "Inbox"
        ],
        "parameters": [
          {
            "name": "recent",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 5
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain; ver=1.0": {
                "schema": {
                  "$ref": "#/components/schemas/InboxSummaryDto"
                }
              },
              "application/json; ver=1.0": {
                "schema": {
                  "$ref": "#/components/schemas/InboxSummaryDto"
                }
              },
              "text/json; ver=1.0": {
                "schema": {
                  "$ref": "#/components/schemas/InboxSummaryDto"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        },
        "operationId": "listInbox",
        "summary": "Inbox listele"
      }
    },
    "/api/v1/inbox/announcements": {
      "get": {
        "tags": [
          "Inbox"
        ],
        "parameters": [
          {
            "name": "include_read",
            "in": "query",
            "schema": {
              "type": "boolean",
              "default": true
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "page_size",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 10
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain; ver=1.0": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedListOfAnnouncementDto"
                }
              },
              "application/json; ver=1.0": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedListOfAnnouncementDto"
                }
              },
              "text/json; ver=1.0": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedListOfAnnouncementDto"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        },
        "operationId": "listInbox",
        "summary": "Inbox listele"
      }
    },
    "/api/v1/inbox/announcements/{id}": {
      "get": {
        "tags": [
          "Inbox"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain; ver=1.0": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/AnnouncementDto"
                    },
                    {
                      "$ref": "#/components/schemas/AnnouncementAdminDto"
                    }
                  ]
                }
              },
              "application/json; ver=1.0": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/AnnouncementDto"
                    },
                    {
                      "$ref": "#/components/schemas/AnnouncementAdminDto"
                    }
                  ]
                }
              },
              "text/json; ver=1.0": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/AnnouncementDto"
                    },
                    {
                      "$ref": "#/components/schemas/AnnouncementAdminDto"
                    }
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "text/plain; ver=1.0": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ProblemDetails"
                    },
                    {
                      "$ref": "#/components/schemas/HttpValidationProblemDetails"
                    }
                  ]
                }
              },
              "application/json; ver=1.0": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ProblemDetails"
                    },
                    {
                      "$ref": "#/components/schemas/HttpValidationProblemDetails"
                    }
                  ]
                }
              },
              "text/json; ver=1.0": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ProblemDetails"
                    },
                    {
                      "$ref": "#/components/schemas/HttpValidationProblemDetails"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        },
        "operationId": "getInbox",
        "summary": "Inbox getir"
      }
    },
    "/api/v1/inbox/announcements/{id}/read": {
      "post": {
        "tags": [
          "Inbox"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          },
          "404": {
            "description": "Not Found",
            "content": {
              "text/plain; ver=1.0": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ProblemDetails"
                    },
                    {
                      "$ref": "#/components/schemas/HttpValidationProblemDetails"
                    }
                  ]
                }
              },
              "application/json; ver=1.0": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ProblemDetails"
                    },
                    {
                      "$ref": "#/components/schemas/HttpValidationProblemDetails"
                    }
                  ]
                }
              },
              "text/json; ver=1.0": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ProblemDetails"
                    },
                    {
                      "$ref": "#/components/schemas/HttpValidationProblemDetails"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          }
        },
        "operationId": "createInbox",
        "summary": "Inbox oluştur"
      }
    },
    "/api/v1/inbox/threads": {
      "get": {
        "tags": [
          "Inbox"
        ],
        "parameters": [
          {
            "name": "status",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "page_size",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 10
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain; ver=1.0": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedListOfConversationThreadSummaryDto"
                }
              },
              "application/json; ver=1.0": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedListOfConversationThreadSummaryDto"
                }
              },
              "text/json; ver=1.0": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedListOfConversationThreadSummaryDto"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        },
        "operationId": "listInbox",
        "summary": "Inbox listele"
      },
      "post": {
        "tags": [
          "Inbox"
        ],
        "requestBody": {
          "content": {
            "application/json; ver=1.0": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/CreateConversationThreadRequest"
                  }
                ]
              }
            },
            "text/json; ver=1.0": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/CreateConversationThreadRequest"
                  }
                ]
              }
            },
            "application/*+json; ver=1.0": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/CreateConversationThreadRequest"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "text/plain; ver=1.0": {
                "schema": {
                  "$ref": "#/components/schemas/ConversationThreadDetailDto"
                }
              },
              "application/json; ver=1.0": {
                "schema": {
                  "$ref": "#/components/schemas/ConversationThreadDetailDto"
                }
              },
              "text/json; ver=1.0": {
                "schema": {
                  "$ref": "#/components/schemas/ConversationThreadDetailDto"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "text/plain; ver=1.0": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ProblemDetails"
                    },
                    {
                      "$ref": "#/components/schemas/HttpValidationProblemDetails"
                    }
                  ]
                }
              },
              "application/json; ver=1.0": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ProblemDetails"
                    },
                    {
                      "$ref": "#/components/schemas/HttpValidationProblemDetails"
                    }
                  ]
                }
              },
              "text/json; ver=1.0": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ProblemDetails"
                    },
                    {
                      "$ref": "#/components/schemas/HttpValidationProblemDetails"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          }
        },
        "operationId": "createInbox",
        "summary": "Inbox oluştur"
      }
    },
    "/api/v1/inbox/threads/{id}": {
      "get": {
        "tags": [
          "Inbox"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain; ver=1.0": {
                "schema": {
                  "$ref": "#/components/schemas/ConversationThreadDetailDto"
                }
              },
              "application/json; ver=1.0": {
                "schema": {
                  "$ref": "#/components/schemas/ConversationThreadDetailDto"
                }
              },
              "text/json; ver=1.0": {
                "schema": {
                  "$ref": "#/components/schemas/ConversationThreadDetailDto"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "text/plain; ver=1.0": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ProblemDetails"
                    },
                    {
                      "$ref": "#/components/schemas/HttpValidationProblemDetails"
                    }
                  ]
                }
              },
              "application/json; ver=1.0": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ProblemDetails"
                    },
                    {
                      "$ref": "#/components/schemas/HttpValidationProblemDetails"
                    }
                  ]
                }
              },
              "text/json; ver=1.0": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ProblemDetails"
                    },
                    {
                      "$ref": "#/components/schemas/HttpValidationProblemDetails"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        },
        "operationId": "getInbox",
        "summary": "Inbox getir"
      }
    },
    "/api/v1/inbox/threads/{id}/reply": {
      "post": {
        "tags": [
          "Inbox"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json; ver=1.0": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/ReplyToConversationRequest"
                  }
                ]
              }
            },
            "text/json; ver=1.0": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/ReplyToConversationRequest"
                  }
                ]
              }
            },
            "application/*+json; ver=1.0": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/ReplyToConversationRequest"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "text/plain; ver=1.0": {
                "schema": {
                  "$ref": "#/components/schemas/ConversationMessageDto"
                }
              },
              "application/json; ver=1.0": {
                "schema": {
                  "$ref": "#/components/schemas/ConversationMessageDto"
                }
              },
              "text/json; ver=1.0": {
                "schema": {
                  "$ref": "#/components/schemas/ConversationMessageDto"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "text/plain; ver=1.0": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ProblemDetails"
                    },
                    {
                      "$ref": "#/components/schemas/HttpValidationProblemDetails"
                    }
                  ]
                }
              },
              "application/json; ver=1.0": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ProblemDetails"
                    },
                    {
                      "$ref": "#/components/schemas/HttpValidationProblemDetails"
                    }
                  ]
                }
              },
              "text/json; ver=1.0": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ProblemDetails"
                    },
                    {
                      "$ref": "#/components/schemas/HttpValidationProblemDetails"
                    }
                  ]
                }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "text/plain; ver=1.0": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ProblemDetails"
                    },
                    {
                      "$ref": "#/components/schemas/HttpValidationProblemDetails"
                    }
                  ]
                }
              },
              "application/json; ver=1.0": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ProblemDetails"
                    },
                    {
                      "$ref": "#/components/schemas/HttpValidationProblemDetails"
                    }
                  ]
                }
              },
              "text/json; ver=1.0": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ProblemDetails"
                    },
                    {
                      "$ref": "#/components/schemas/HttpValidationProblemDetails"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          }
        },
        "operationId": "createInbox",
        "summary": "Inbox oluştur"
      }
    },
    "/api/v1/inbox/mark-all-read": {
      "post": {
        "tags": [
          "Inbox"
        ],
        "responses": {
          "204": {
            "description": "No Content"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          }
        },
        "operationId": "createInbox",
        "summary": "Inbox oluştur"
      }
    },
    "/api/v1/inbox/threads/{id}/read": {
      "post": {
        "tags": [
          "Inbox"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          },
          "404": {
            "description": "Not Found",
            "content": {
              "text/plain; ver=1.0": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ProblemDetails"
                    },
                    {
                      "$ref": "#/components/schemas/HttpValidationProblemDetails"
                    }
                  ]
                }
              },
              "application/json; ver=1.0": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ProblemDetails"
                    },
                    {
                      "$ref": "#/components/schemas/HttpValidationProblemDetails"
                    }
                  ]
                }
              },
              "text/json; ver=1.0": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ProblemDetails"
                    },
                    {
                      "$ref": "#/components/schemas/HttpValidationProblemDetails"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          }
        },
        "operationId": "createInbox",
        "summary": "Inbox oluştur"
      }
    },
    "/api/v1/lookups/bootstrap": {
      "get": {
        "tags": [
          "Lookups"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain; ver=1.0": {
                "schema": {
                  "$ref": "#/components/schemas/LookupsBootstrapDto"
                }
              },
              "application/json; ver=1.0": {
                "schema": {
                  "$ref": "#/components/schemas/LookupsBootstrapDto"
                }
              },
[...]
